@import '../../../../styles/All_mixins'

.LatestTransactionArr
  margin-left: 119px
  margin-right: 119px
  display: flex
  flex-direction: row
  justify-content: left
  flex-wrap: wrap
  gap: 27px

.line
  height: 1px
  border: 1px solid
  border-image-source: linear-gradient(90deg, #FFFFFF -2.03%, rgba(255, 255, 255, 0) 102.22%)
  border-image-slice: 10

.latestTransactionInfo
  display: flex
  justify-content: space-between
  padding: 20px
  margin-top: 4px
  align-items: center
  @include onest12
  font-size: 16px
  color: white

.topLeftInfo
  display: flex
  padding-bottom: 16px
  align-items: center
  gap: 16px

.underLeftInfo
  display: flex
  align-items: center

  svg
    color: $light_blue


.tradeIcon
  width: 29px
  height: 29px

.number
  @include onest18
  color: $light_blue
  padding-right: 20px
  padding-left: 13px

.time
  @include onest18
  font-size: 16px

.topRightInfo
  display: flex
  justify-content: right
  align-items: center
  padding-bottom: 16px
  gap: 12px

  svg
    padding-top: 10px
    color: #3CE2EC

.address
  @include onest12
  font-size: 16px
  color: $light_blue
  white-space: nowrap
  line-height: normal


.value
  @include onest18
  font-size: 16px
  padding-left: 4px

.criptType
  padding-left: 12px

.underRightInfo
  align-items: center
  display: flex
  justify-content: right

.angularAvatar
  width: 24px
  height: 24px
  border-radius: 24px
  background: conic-gradient(from 180deg at 50% 50%, #3CE2EC 0deg, rgba(217, 217, 217, 0) 360deg)

.receiver
  background: conic-gradient(from 90deg at 50% 50%, #3CE2EC 0deg, rgba(217, 217, 217, 0) 360deg)

.message
  margin-top: 50px
  color: #FFFFFF





