@import '../../../styles/All_mixins'


body
  background-color: $back
.main
  max-width: 1920px
  margin-left: auto
  margin-right: auto
.infoSection
  position: relative
.background1
  position: absolute
  top: -198px
  z-index: -1
  width: 100%
  object-fit: cover
  object-position: center center
  max-height: 980px

.welcome
  margin-top: 150px
  margin-right: 179px
  margin-left: 7.85%
  @include montserrat106

.transactionCount
  margin-top: 93px
  margin-left: 7.85%
  @include onest52
.todayTransaction
  margin-left: 7.85%
  margin-bottom: 92px
  @include onest36

.cards
  display: flex
  justify-content: space-between
  margin-left: 7.85%
  margin-right: 7.85%

.card
  text-align: left
  display: flex
  padding: 16px
  border: 2px solid white
  border-radius: 10px
  width: 15.2%
  max-height: 61px
.card:hover
  background: $button_blue
  box-shadow: 0 0 33px $button_blue, inset 0 0 23px white

.icon
  width: 29px
  height: 29px
  margin-right: 16px

.cardInfo
  @include onest12
.card:hover .cardInfo
  color: $t_light-grey

.cardValue
  font-family: 'Onest', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 107.5%
  color: white
.card:hover .cardValue
  color: $t_grey

.searchSection
  margin-top: 269px
  margin-right: 7.85%
  margin-left: 7.85%
  height: 129px
  background: linear-gradient(112.47deg, #3CE2EC -1.05%, #0E1114 83.76%)
  border-radius: 31px
.searchBlock
  padding-left: 31px
  padding-top: 31px
  display: flex
.input
  width: 100%
  height: 67px
  background: #FFFFFF
  border-radius: 13px
  @include onest18
  padding-left: 20px

.searchIcon
  width: 29px
  height: 29px
.search
  border: 1px solid #FFFFFF
  mix-blend-mode: normal
  border-radius: 13px
  margin-left: 28px
  margin-right: 31px
  margin-bottom: 77px
  width: 67px
  height: 67px
.search:hover
  border: 1px solid $light_blue
.search:hover .searchIcon


.latestBlocksSection
  margin-top: 93px

.latestBlocksInfo

.headLatestBlocks
  display: flex
  flex-direction: row
  margin-right: 7.85%
  margin-left: 7.85%
  margin-bottom: 20px
  justify-content: space-between
.viewAllBlocks
  border: 1px solid #3CE2EC
  border-radius: 13px
  padding: 16px
  @include onest18
  line-height: 107.5%
  font-size: 16px
  color: $light_blue

.sectionName
  @include onest20
.latestInfo
  @include onest18
  font-size: 16px
  color: $medium-light-grey
  padding-top: 10px

.latestTransactionsSection
  margin-top: 54px
  margin-bottom: 90px

.headLatestTransaction
  display: flex
  flex-direction: row
  margin-right: 7.85%
  margin-left: 7.85%
  margin-bottom: 20px
  justify-content: space-between
.viewAllTransactions
  border: 1px solid #3CE2EC
  border-radius: 13px
  padding: 16px
  @include onest18
  font-size: 16px
  line-height: 107.5%
  color: $light_blue

.viewAllTransactions:hover
  @include onestButton
.viewAllBlocks:hover
  @include onestButton


.sectionName
  @include onest20






