@import '../../../../styles/All_mixins'

.LatestBlockArr
  margin-left: 7.85%
  margin-right: 7.85%
  display: flex
  flex-direction: row
  justify-content: left
  flex-wrap: wrap
  gap: 27px
.latestBlock
  padding: 20px
  width: 299px
  border-radius: 13px
  border: 1px solid white
  display: flex
  flex-direction: column
  @include onest18
  font-size: 16px
  color: $medium-light-grey
.blockHead
  display: flex
  flex-direction: unset
  justify-content: space-between
  align-items: center
.blockHeadMain
  align-items: center
  display: flex
  @include onest20
  color: $light_blue
.icon
  margin-right: 13px
  width: 29px
  height: 29px

.underBlockInfo
  display: flex
.underTypeInfo
  padding-right: 13px
  color: white
.underInfo

.minerValue
  color: $light_blue
  padding-top: 16px
.type
  padding-top: 16px


