@import 'src/components/pages/BlockPage/index.module'
@import 'src/styles/tables'

.blocks
  width: 100%

.brFeeTop
  display: flex
  flex-direction: row
  gap: 8px
  align-items: center

.fontWeight500
  font-weight: 500