@import 'src/components/pages/BlocksPage/index.module'


svg
  width: 20px
  height: 20px
  color: white
.percentage
  display: flex
  flex-direction: row
  align-items: center
  gap: 20px
  color: $medium-light-grey

  .verticalLine
    margin-right: 0

.verticalLine
  border: 1px solid
  height: 15px
  margin-right: 20px
  background-color: $medium-light-grey

.typeTag
  margin-top: 22px

.traceBlock
  padding: 16px
  max-height: 200px
  color: $medium-light-grey
  border: 1px $light_blue solid
  border-radius: 20px
  word-break: break-all
  white-space: pre-wrap
  overflow-y: auto