@import '../../../styles/All_mixins'
@import 'src/components/pages/MainPage/LatestTransactionComponent/LatestTransaction.module'
@import 'src/styles/tables'
.searchSection
  margin: 50px 119px 0

.pageSection
  margin: 60px 119px 0px
  display: flex
  flex-direction: column

.headOfPage
  display: flex
  flex-direction: row
  align-items: center
  text-align: center
  gap: 10px
  @include onest36medium

.jcsb
  justify-content: space-between

.details
  width: 100%

.transactions
  width: 100%

.infoRow
  display: flex
  flex-direction: row
  @include onest16medium
  color: white
  margin-bottom: 30px

.rowTitle
  width: 158px
  margin-left: 10px
  margin-right: 63px

.rowLink
  color: $light_blue
  display: flex
  flex-direction: row
  gap: 4px
  font-weight: 400

.rowLink:hover
  text-shadow: 0 0 4px $c_shadows_blue

.valueType
  margin-left: 4px
  margin-right: 20px

.mgR20
  margin-right: 20px
.line
  height: 1px
  border: 1px solid
  border-image-source: linear-gradient(90deg, #FFFFFF -2.03%, rgba(255, 255, 255, 0) 102.22%)
  border-image-slice: 10
  margin-bottom: 30px

.percentage
  display: flex
  flex-direction: row
  align-items: center
  gap: 8px
  color: $medium-light-grey

.verticalLine
  border: 1px solid
  height: 15px
  background-color: $medium-light-grey

.gasIcon
  margin-right: 4px

.percentageGreen
  color: $c_bright_green

.paginationButtons
  display: flex
  flex-direction: row
  justify-content: flex-end
  gap: 22px

.controlButton
  width: 40px
  height: 40px
  border: 1px solid white
  border-radius: 7px
  display: flex
  align-items: center
  justify-content: center

.controlButton:hover
  opacity: 0.8

.controlButton:disabled
  opacity: 0.35

.pageNum
  display: flex
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  color: $main_dark_grey
  background: white
  border-radius: 7px
  @include onest16medium

.method
  width: fit-content
  align-content: center
  border-radius: 3px
  padding: 5px 9px 5px 9px
  background-color: $medium-light-grey
  color: $main_dark_grey
  @include onest12

.hashTime
  margin-top: 22px
  @include onest18
  font-size: 16px

.typeAndStatus
  display: flex
  flex-direction: column
  gap: 10px

.addressGroup
  display: flex
  flex-direction: row
  gap: 12px
  align-items: center




